body {
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.hero-section {
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    position: absolute;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: opacity 1s ease-in-out;
}

.nav-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.section {
    padding: 60px 0;
}

.gallery-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu {
    position: absolute;
    height: 10%;
    width: 50%;
    bottom: 3%;
}

.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dot.active {
    width: 15px;
    height: 15px;
    background-color: #3e4347;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
}